body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.background-container {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-container img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.background-overlay {
  background-image: linear-gradient(to top, rgba(71, 16, 16, 0.829), rgba(5, 5, 49, 0.89));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.drumPads-container {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid green;
  width: 50px;
  height: 50px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;

}
